<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Run">

    <test name="Package test">
        <packages>

            <package name="SeleniumTestNG.AboutTouchPage"/>
            <package name="SeleniumTestNG.CentralPage"/>
            <package name="SeleniumTestNG.LoginPage"/>
            <package name="SeleniumTestNG.TouchpointPage"/>
            <package name="SeleniumTestNG.UserProfilePage"/>
            <package name="SeleniumTestNG.DashboardPage"/>

            <package name="SeleniumTestNG.AdminEndpoints"/>
            <package name="SeleniumTestNG.AdminInfo"/>
            <package name="SeleniumTestNG.ContentTemplates"/>
            <package name="SeleniumTestNG.ManageJurisdictions"/>
            <package name="SeleniumTestNG.BaseTestData.ManageUsers"/>
            <package name="SeleniumTestNG.TextContent"/>
            <package name="SeleniumTestNG.TouchpointDataLists"/>
            <package name="SeleniumTestNG.TouchpointForms"/>

        </packages>
    </test>
</suite>